#header {
    padding: 0.2em;

    a {
        margin: 0 0.4em;
    }

    #about {
        display: none;
    }

    #style_switcher {
        margin: 0 0.4em;
    }
}

#content {
    max-width: 100%;
    margin: 0;
}