@import "solarized";
@import "http://yandex.st/highlightjs/8.0/styles/solarized_dark.min.css";

$header_bg:     $base03;
$header_fg:     $base01;

$body_bg:       $base02;
$body_fg:       $base1;

$code_bg:       $base03;

$other_color:   $base3;