@import "solarized";
@import "dark";

$header_bg:     $base3;
$header_fg:     $base1;

$body_bg:       $base2;
$body_fg:       $base01;

$code_bg:       $base3;
$code_fg:       $base00;
$code_comment:  $base01;
$code_formula:  $base1;

$other_color:   $base03;
