@import "solarized";
@import "http://yandex.st/highlightjs/8.0/styles/solarized_light.min.css";

$header_bg: $base3;
$header_fg: $base1;

$body_bg:   $base2;
$body_fg:   $base01;

$code_bg:   $base3;

$other_color:   $base03;